body{
    background-color: #7b7b7b;
}

hr{
    border-color: white;
}

nav{
    background-color: #2f2f2f;
}

.about-header{
    color: white;
}

.about-me{
    background-color: #090909;
}

.active{
    background-color: #090909;
}

.alert-message{
    color: #ff6961;
}

.bio-fact-description{
    color: white;
}

.bio-fact-heading{
    color: #c1ffff;
}

.bio-graduation{
    background-color: #161616;
    border-color: white;
}

.bio-graduation-heading{
    color: white;
}

.bio-main-text{
    color: black;
}

.bio-quick-facts{
    background-color: #222222;
    border-color: white;
}

.bio-quote{
    color: black;
}

.bio-quote-speaker{
    color: #c1ffff;
}

.bio-quotes-divider{
    border-color: white;
}

.bio-quotes-heading{
    color: white;
}

.bio-side-heading{
    color: white;
}

.bio-side-tab{
    background-color: #555555;
}

.bio-text{
    color: white;
}

.bio-title{
    color: black;
}

.bio-title-text{
    color: black;
}

.card{
    border-color: white;
}

.card-body{
    background-color: #7b7b7b;
}

.card-header{
    background-color: #555555;
    border-color: white;
    color: white;
}

.fa-bars{
    color: white;
}

.feedback{
    background-color: #222222;
    border-color: white;
}

.feedback-form-divider{
    border-color: white;
}

.feedback-form-heading{
    background-color: #090909;
    color: white;
}

.feedback-header-text{
    color: white;
}

.feedback-stats-number{
    color: #090909;
}

.feedback-stats-subheading{
    color: white;
}

.form-control{
    background-color: #a1a1a1;
}

.form-radio-text{
    color: white;
}

.form-submit-button{
    background-color: #a1a1a1;
    color: white;
}

.form-text{
    color: white;
}

.footer{
    background-color: #2f2f2f;
}

.footer-heading{
    color: black;
}

.footer-link{
    color: white;
}

.footer-link:hover{
    color: #7b7b7b;
}

.footer-text{
    color: white;
}

.hobbies{
    background-color: #000000;
}

.hobby-fact{
    color: #e7decc;
}

.hobby-heading{
    color: white;
}

.hobby-painting-heading{
    color: #fdfd96;
}

.hobby-painting-subheading{
    color: white;
}

.hobby-reading-heading{
    color: #fdfd96;
}

.hobby-reading-points{
    color: #ffc095;
}

.hobby-reading-subheading{
    color: white;
}

.hobby-reading-subheading-points{
    color: white;
}

.hobby-squash-heading{
    color: #fdfd96;
}

.hobby-squash-subheading{
    color: white;
}

.hobby-subheading{
    color: white;
}

.hobby-title-heading{
    color: black;
}

.hobby-title-subheading{
    color: black;
}

.icon{
    color: white;
}

.nav-link{
    color: white;
}

.nav-link:hover{
    color: #7b7b7b;
}

.project-container{
    background-color: #7b7b7b;
}

.project-content-header{
    color: #ffc095;
}

.project-description-content{
    color: white;
}

.project-description-heading{
    color: #c1ffff;
}

.project-header{
    background-color: #a1a1a1;
}

.project-header-text{
    color: white;
}

.project-heading{
    color: white;
}

.project-icon-minus{
    color: white;
}

.project-icon-plus{
    color: #fdfd96;
}

.project-learnings{
    color: white;
}

.project-link-active{
    color: #fdfd96;
}

.project-short-title{
    color: white;
}

.project-subheading{
    color: white;
}

.project-tab-link{
    color: white;
}

.project-tab-link:hover{
    color:#fdfd96;
}

.project-tab-link-small{
    color: white;
}

.project-tab-link-small:hover{
    color:#fdfd96;
}

.project-table-left{
    color: #ffb2ae;
}

.project-table-right{
    color: white;
}

.project-tabs-heading{
    color: #ffc095;
}

.projects{
    background-color: #7b7b7b;
}

.toggle-icon-moon{
    color: #090909;
}

.toggle-icon-sun{
    color: white;
    cursor: pointer;
}

.toggle-slider{
    background-color: #aec5e0;
}

.toggle-slider:before{
    background-color: #5284bd;
}

input:checked + .toggle-slider{
    background-color: #7b7b7b;
}

input:checked + .toggle-slider:before{
    background-color: #090909;
}

input:focus + .toggle-slider{
    box-shadow: 0 0 1px #7b7b7b;
}

input:focus + .toggle-slider:before{
    box-shadow: 0 0 1px #090909;
}

.welcome{
    background-color: #7b7b7b;
}

.welcome-subtext{
    color: white;
}

.welcome-text{
    color: white;
}

#active-link:hover{
    color: white;
}

#graduation-large{
    background-color: #7b7b7b;
}

#hobby-fact{
    color: #c1ffff;
}

#hobby-fact-large{
    color: #c1ffff;
}

#hobby-painting{
    background-color: #222222;
}

#hobby-reading{
    background-color: #161616;
}

#hobby-squash{
    background-color: #3c3c3c;
}

#project-1{
    background-color: #555555;
}

#project-2{
    background-color: #3c3c3c;
}

#project-3{
    background-color: #222222;
}

#project-4{
    background-color: #161616;
}

#project-automation{
    background-color: #3c3c3c;
}

#project-automation-copy{
    background-color: #3c3c3c;
}

#project-automation-copy-large{
    background-color: #3c3c3c;
}

#project-automation-copy-small{
    background-color: #3c3c3c;
}

#project-automation-small{
    background-color: #3c3c3c;
}

#project-cds{
    background-color: #222222;
}

#project-cds-copy{
    background-color: #222222;
}

#project-cds-copy-large{
    background-color: #222222;
}

#project-cds-copy-small{
    background-color: #222222;
}

#project-cds-small{
    background-color: #222222;
}

#project-dwc{
    background-color: #161616;
}

#project-dwc-copy{
    background-color: #161616;
}

#project-dwc-copy-large{
    background-color: #161616;
}

#project-dwc-copy-small{
    background-color: #161616;
}

#project-dwc-small{
    background-color: #161616;
}

#project-testing{
    background-color: #555555;
}

#project-testing-copy{
    background-color: #555555;
}

#project-testing-copy-large{
    background-color: #555555;
}

#project-testing-copy-small{
    background-color: #555555;
}

#project-testing-small{
    background-color: #555555;
}