body{
    overflow-x: hidden;
    width: 100vw;
}

dd{
    margin-bottom: 4px;
    margin-top: 4px;
}

dl{
    margin-bottom: 0px;
}

dt{
    margin-bottom: 4px;
    margin-top: 4px;
    text-align: center;
}

hr{
    border-top: dotted;
    border-width: 3px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

nav{
    width: 100vw;
}

.about-heading{
    text-align: center;
    margin-bottom: 0px;
}

.about-image{
    max-width: 75%;
}

.about-image-small{
    max-width: 60%;
}

.about-me{
    overflow-x: hidden;
    width: 100vw;
}

.about-text{
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

.active{
    border-radius: 10px;
}

.bio-fact-description{
    font-style: italic;
    margin-bottom: 13px;
    margin-top: 0px;
    text-align: center;
}

.bio-fact-heading{
    margin-bottom: 0px;
    margin-top: 0px;
}

.bio-graduation{
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 5vh;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    margin-top: 5vh;
    padding-bottom: 10px;
    padding-top: 10px;
}

.bio-graduation-heading{
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 5px;
    text-align: center;
}

.bio-graduation-image{
    margin-bottom: 10px;
    margin-top: 10px;
}

.bio-main-text{
    text-align: justify;
    text-justify: inter-word;
}

.bio-main-title{
    text-align: center;
}

.bio-quick-facts{
    border-style: solid;
    border-width: 2px;
    margin-bottom: 5vh;
    margin-top: 5vh;
    padding-bottom: 10px;
    padding-top: 10px;
}

.bio-quote{
    text-align: justify;
    text-justify: inter-word;
}

.bio-quote-speaker{
    font-weight: normal;
    text-align: right;
}

.bio-quotes-divider{
    border-top: solid;
    border-width: 2px;
    width: 85%;
}

.bio-quotes-heading{
    text-align: center;
}

.bio-quotes-small{
    margin-bottom: 25px;
    margin-top: 5vh;
}

.bio-side-heading{
    font-family: sans-serif;
    text-align: center;
}

.bio-text{
    font-style: italic;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

.bio-title{
    margin-bottom: 30px;
    font-weight: bold;
    text-align: center;
}

.bio-title-text{
    font-weight: bold;
}

.card{
    border-width: 2px;
    margin-top: 100px;
}

.card-header{
    border-width: 2px;
    text-align: center;
}

.footer{
    padding-bottom: 25px;
    padding-top: 25px;
}

.footer-bullets{
    list-style-position: outside;
    list-style-type: none;
    padding-left: 0px;
}

.footer-heading{
    font-weight: bold;
    text-align: left;
}

.footer-link{
    font-weight: bold;
}

.footer-link:hover{
    text-decoration: none;
}

.footer-text{
    font-weight: bold;
}

.hobbies{
    padding-bottom: 100px;
    padding-top: 100px;
}

.hobby-heading{
    text-align: center;
}

.hobby-image{
    max-width: 80%;
}

.hobby-subheading{
    font-style: italic;
    text-align: center;
}

.icon{
    display: inline-block;
    text-align: center;
    width: 100%;
}

.img-container{
    padding-top: 100px;
}

.nav-item{
    padding-bottom: 2.5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2.5px;
}

.nav-link{
    font-weight: bold;
}

.project-heading{
    text-align: center;
}

.project-short-title{
    font-style: italic;
    font-weight: normal;
    margin-bottom: 0px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
}

.project-subheading{
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

.projects{
    padding-bottom: 100px;
    padding-top: 100px;
}

.shift-left{
    margin-left: 0px;
}

.shift-right{
    margin-right: 0px;
}

.shift-top{
    bottom: 7.5vw;
    position: relative;
}

.welcome{
    height: 100vh;
    overflow-x: hidden;
    width: 100vw;
}

.welcome-subtext{
    font-weight: normal;
    font-style: italic;
}

.welcome-text{
    margin-top: 10px;
}

#bio-card{
    margin-top: 5vh;
}

#bio-card-body{
    text-align: left;
}

#bio-image{
    margin-bottom: 15vh;
    margin-top: 25vh;
}

#bio-image-small{
    margin-bottom: 5vh;
    margin-top: 20vh;
}

#bio-side{
    margin-bottom: 15vh;
}

#bio-title-large{
    margin-bottom: 2.5vh;
    margin-top: 10vh;
}

#card-small{
    margin-top: 0px;
}

#graduation-large{
    border: none;
    margin-bottom: 10px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}

#home-image{
    margin-top: 30vh;
}

#img-container-mid{
    max-height: 55vw;
    padding-top: 5vh;
}

#img-container-small{
    max-height: 75vw;
    padding-top: 5vh;
}

#img-small{
    bottom: 20vw;
    position: relative;
}

#project-container{
    padding-left: 0px;
    padding-right: 0px;
}