body{
    overflow-x: hidden;
    width: 100vw;
}

dd{
    margin-bottom: 4px;
    margin-top: 4px;
}

dl{
    margin-bottom: 0px;
}

dt{
    margin-bottom: 4px;
    margin-top: 4px;
    text-align: center;
}

hr{
    border-top: dotted;
    border-width: 3px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

nav{
    width: 100vw;
}

.about-heading{
    text-align: center;
    margin-bottom: 0px;
}

.about-image{
    max-width: 75%;
}

.about-image-small{
    max-width: 60%;
}

.about-me{
    overflow-x: hidden;
    width: 100vw;
}

.about-text{
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

.active{
    border-radius: 10px;
}

.alert-message{
    font-size: smaller;
    margin-bottom: 0px;
    margin-top: 2px;
}

.bio-fact-description{
    font-style: italic;
    margin-bottom: 13px;
    margin-top: 0px;
    text-align: center;
}

.bio-fact-heading{
    margin-bottom: 0px;
    margin-top: 0px;
}

.bio-graduation{
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 5vh;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    margin-top: 5vh;
    padding-bottom: 10px;
    padding-top: 10px;
}

.bio-graduation-heading{
    font-family: "Times New Roman", Arial, sans-serif;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 5px;
    text-align: center;
}

.bio-graduation-image{
    margin-bottom: 10px;
    margin-top: 10px;
}

.bio-main-text{
    text-align: justify;
    text-justify: inter-word;
}

.bio-main-title{
    text-align: center;
}

.bio-quick-facts{
    border-style: solid;
    border-width: 2px;
    margin-bottom: 5vh;
    margin-top: 5vh;
    padding-bottom: 10px;
    padding-top: 10px;
}

.bio-quote{
    text-align: justify;
    text-justify: inter-word;
}

.bio-quote-speaker{
    font-weight: normal;
    text-align: right;
}

.bio-quotes-divider{
    border-top: solid;
    border-width: 2px;
    width: 85%;
}

.bio-quotes-heading{
    text-align: center;
}

.bio-quotes-small{
    margin-bottom: 25px;
    margin-top: 5vh;
}

.bio-side-heading{
    font-family: "Times New Roman", Arial, sans-serif;
    text-align: center;
}

.bio-text{
    font-style: italic;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

.bio-title{
    margin-bottom: 30px;
    font-weight: bold;
    text-align: center;
}

.bio-title-text{
    font-weight: bold;
}

.card{
    border-width: 2px;
    margin-top: 100px;
}

.card-header{
    border-width: 2px;
    text-align: center;
}

.carousel{
    margin-top: 45px;
}

.carousel-item{
    height: 50vh;
}

.feedback{
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    margin-bottom: min(20vh, 250px);
}

.feedback-form-divider{
    border-top: solid;
    border-width: 2px;
    margin-bottom: 0px;
    margin-top: 20px;
    width: 100%;
}

.feedback-form-heading{
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative;
    right: 15px;
    text-align: center;
    width: calc(100% + 30px);
}

.feedback-header{
    margin-top: 20vh;
}

.feedback-header-text{
    font-family: "Times New Roman", Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

.feedback-stats{
    margin-bottom: 16px;
    margin-top: 5px;
}

.feedback-stats-left{
    border-right-style: solid;
    border-width: 1.5px;
}

.feedback-stats-number{
    margin-bottom: 0px;
    text-align: center;
}

.feedback-stats-right{
    border-left-style: solid;
    border-width: 1.5px;
}

.feedback-stats-subheading{
    font-weight: normal;
    text-align: center;
}

.form-group{
    padding-top: 20px;
    margin-bottom: 0px;
}

.form-radio-button{
    padding-left: 5%;
}

.form-submit-button{
    border-radius: 10px;
    cursor: pointer;
    display: block;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    margin-top: 15px;
    text-align: center;
    width: 60%;
}

.form-text{
    font-size: large;
    font-weight: bold;
}

.footer{
    padding-bottom: 25px;
    padding-top: 25px;
}

.footer-bullets{
    list-style-position: outside;
    list-style-type: none;
    padding-left: 0px;
}

.footer-heading{
    font-weight: bold;
    text-align: left;
}

.footer-link{
    font-weight: bold;
}

.footer-link:hover{
    text-decoration: none;
}

.footer-text{
    font-weight: bold;
}

.hobbies{
    padding-bottom: 100px;
    padding-top: 100px;
}

.hobby-fact{
    font-family: "Times New Roman", Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 0px;
}

.hobby-heading{
    text-align: center;
}

.hobby-image{
    max-width: 80%;
}

.hobby-painting-heading{
    font-family: "Times New Roman", Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    padding-top: 2.5vh;
    text-align: center;
}

.hobby-painting-large{
    padding-left: 5vw;
    padding-right: 5vw;
}

.hobby-painting-subheading{
    text-align: justify;
    text-justify: inter-word;
}

.hobby-reading-heading{
    font-family: "Times New Roman", Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    margin-top: 2.5vh;
    text-align: center;
}

.hobby-reading-points{
    font-family: "Times New Roman", Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 3px;
}

.hobby-reading-subheading{
    text-align: justify;
    text-justify: inter-word;
}

.hobby-squash-content{
    margin-top: 2.5vh;
}

.hobby-squash-heading{
    font-family: "Times New Roman", Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

.hobby-squash-subheading{
    text-align: justify;
    text-justify: inter-word;
}

.hobby-subheading{
    font-style: italic;
    text-align: center;
}

.hobby-title{
    height: 25vh;
    margin-top: 20vh;
}

.hobby-title-heading{
    font-family: "Times New Roman", Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

.hobby-title-subheading{
    font-style: italic;
    text-align: center;
}

.icon{
    display: inline-block;
    text-align: center;
    width: 100%;
}

.img-container{
    padding-top: 100px;
}

.nav-item{
    padding-bottom: 2.5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2.5px;
}

.nav-link{
    font-weight: bold;
}

.project-content-header{
    font-family: "Times New Roman", Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 0px;
}

.project-description-block{
    margin-bottom: 25px;
    margin-top: 15px;
}

.project-description-block-small{
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 15px;
}

.project-description-content{
    display: block;
    text-align: justify;
    text-justify: inter-word;
}

.project-description-heading{
    display: block;
    font-family: "Times New Roman", Arial, sans-serif;
    margin-bottom: 5px;
    text-align: left;
}

.project-description-heading-larger{
    display: inline;
}

.project-description-heading-smaller{
    display: inline;
    position: relative;
    right: 2.5px;
}

.project-header{
    font-family: "Times New Roman", Arial, sans-serif;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
}

.project-header-text{
    margin-bottom: 0px;
}

.project-heading{
    text-align: center;
}

.project-learnings{
    padding-left: 20px;
    text-align: justify;
    text-justify: inter-word;
}

.project-short-title{
    font-style: italic;
    font-weight: normal;
    margin-bottom: 0px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
}

.project-subheading{
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

.project-tab-content{
    display: none;
}

.project-tab-content-small{
    display: none;
}

.project-tab-large{
    position: -webkit-sticky;
    position: sticky;
    top: 40px;
    z-index: 10;
}

.project-tab-link{
    border: none;
    cursor: pointer;
    font-weight: bold;
    height: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    transition: 0.5s;
    width: 100%;
}

.project-tab-link-small{
    border: none;
    cursor: pointer;
    font-weight: bold;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    text-align: left;
    transition: 0.5s;
    width: 100%;
}

.project-tab-link:focus{
    border: none;
    outline: none;
}

.project-tab-link-small:focus{
    border: none;
    outline: none;
}

.project-tabs-heading{
    font-family: "Times New Roman", Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    padding-top: 25px;
    text-align: left;
}

.projects{
    padding-bottom: 100px;
    padding-top: 100px;
}

.shift-left{
    margin-left: 0px;
}

.shift-right{
    margin-right: 0px;
}

.shift-top{
    bottom: 7.5vw;
    position: relative;
}

.welcome{
    height: 100vh;
    overflow-x: hidden;
    width: 100vw;
}

.welcome-subtext{
    font-weight: normal;
    font-style: italic;
    text-align: center;
}

.welcome-text{
    margin-top: 10px;
    text-align: center;
}

#bio-image{
    margin-bottom: 15vh;
    margin-top: 25vh;
}

#bio-image-small{
    margin-bottom: 5vh;
    margin-top: 20vh;
}

#bio-side{
    margin-bottom: 15vh;
}

#bio-title-large{
    margin-bottom: 2.5vh;
    margin-top: 10vh;
}

#card-small{
    margin-top: 0px;
}

#feedback-row{
    margin-left: 0px;
    margin-right: 0px;
}

#form-validate{
    display: none;
    margin-bottom: 25px;
    text-align: center;
}

#form-validation-email{
    display: none;
}

#form-validation-name{
    display: none;
}

#form-verify-email{
    display: none;
}

#graduation-large{
    border: none;
    margin-bottom: 10px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}

#hobby-fact{
    margin-bottom: 0px;
}

#hobby-image-painting-layout-left{
    padding-right: 0px;
}

#hobby-image-painting-layout-right{
    padding-left: 0px;
}

#hobby-image-painting-1{
    margin-right: 0px;
    margin-top: 16px;
    max-width: min(100%, 330px);
    position: relative;
    top: min(calc(12.5vw - 18.75px), 80px);
}

#hobby-image-painting-2{
    margin-left: 0px;
    margin-top: 16px;
    max-width: min(100%, 250px);
}

#hobby-image-painting-3{
    margin-bottom: 16px;
    margin-right: 0px;
    max-width: min(100%, 250px);
}

#hobby-image-painting-4{
    margin-left: 0px;
    max-width: min(100%, 330px);
}

#hobby-image-reading{
    margin-bottom: 2.5vh;
    margin-top: 2.5vh;
    max-width: min(60%, 300px);
}

#hobby-image-squash-lg{
    margin-bottom: 5vw;
    margin-top: 5vw;
    max-width: 80%;
}

#hobby-image-squash-md-1{
    margin-bottom: 2vw;
    margin-right: 0;
    margin-top: 2vw;
    max-width: min(45vh, 50%);
}

#hobby-image-squash-md-2{
    margin-bottom: 2vw;
    margin-left: 0;
    max-width: min(45vh, 50%);
}

#hobby-image-squash-1{
    margin-right: 0;
    margin-top: 2.5vh;
    max-width: min(45vh, 65%);
}

#hobby-image-squash-2{
    margin-bottom: 2.5vh;
    margin-left: 0;
    max-width: min(45vh, 65%);
}

#hobby-painting-subheading-top{
    margin-bottom: 0px;
}

#home-image{
    margin-top: 30vh;
}

#img-container-mid{
    max-height: 55vw;
    padding-top: 5vh;
}

#img-container-small{
    max-height: 75vw;
    padding-top: 5vh;
}

#img-small{
    bottom: 20vw;
    position: relative;
}

#project-container{
    padding-left: 0px;
    padding-right: 0px;
}

#project-content-bottom{
    margin-bottom: 0px;
}

#project-content-top{
    margin-top: 0px;
}

#project-image-large{
    margin-bottom: 10px;
    max-height: 225px;
}

#project-image-small{
    margin-bottom: 5px;
    max-height: 150px;
}

#project-table-content{
    margin-bottom: 5px;
    text-align: center;
}

#project-table-small{
    padding-left: 0px;
    padding-right: 0px;
}

#project-tabs{
    padding-left: 0px;
    padding-right: 0px;
}