body{
    background-color: #aec5e0;
}

hr{
    border-color: white;
}

nav{
    background-color: #779ecb;
}

.about-heading{
    color: white;
}

.about-me{
    background-color: #5284bd;
}

.about-text{
    color: black;
}

.active{
    background-color: #5284bd;
}

.bio-fact-description{
    color: #fdff00;
}

.bio-fact-heading{
    color: white;
}

.bio-graduation{
    background-color: #2f527b;
    border-color: white;
}

.bio-graduation-heading{
    color: white;
}

.bio-quick-facts{
    background-color: #4477b2;
    border-color: white;
}

.bio-quote-speaker{
    color: white;
}

.bio-quotes-divider{
    border-color: white;
}

.bio-quotes-heading{
    color: white;
}

.bio-side-heading{
    color: #fdff00;
}

.bio-side-tab{
    background-color: #8abed2;
}

.bio-text{
    color: white;
}

.bio-title{
    color: black;
}

.bio-title-text{
    color: black;
}

.card{
    border-color: black;
}

.card-header{
    background-color: #779ecb;
    border-color: black;
    color: white;
}

.fa-bars{
    color: white;
}

.footer{
    background-color: #779ecb;
}

.footer-heading{
    color: black;
}

.footer-link{
    color: white;   
}

.footer-text{
    color: black;
}

.hobbies{
    background-color: #4477b2;
}

.hobby-heading{
    color: white;
}

.hobby-subheading{
    color: white;
}

.nav-link{
    color: white;
}

.nav-link:hover{
    color: #4477b2;
}

.project-heading{
    color: black;
}

.project-short-title{
    color: black;
}

.projects{
    background-color: #aec5e0;
}

.welcome{
    background-color: #aec5e0;
}

.welcome-subtext{
    color: black;
}

.welcome-text{
    color: black;
}

#active-link:hover{
    color: white;
}

#bio-card-body{
    background-color: #4477b2;
}

#graduation-large{
    background-color: #aec5e0;
}

#project-1{
    background-color: #89abd2;
}

#project-2{
    background-color: #779ecb;
}

#project-3{
    background-color: #6591c4;
}

#project-4{
    background-color: #5284bd;
}