body{
    background-color: #aec5e0;
}

hr{
    border-color: white;
}

nav{
    background-color: #779ecb;
}

.about-heading{
    color: white;
}

.about-me{
    background-color: #5284bd;
}

.about-text{
    color: black;
}

.active{
    background-color: #5284bd;
}

.alert-message{
    color: #ff6961;
}

.bio-fact-description{
    color: #fdff00;
}

.bio-fact-heading{
    color: white;
}

.bio-graduation{
    background-color: #2f527b;
    border-color: white;
}

.bio-graduation-heading{
    color: white;
}

.bio-quick-facts{
    background-color: #4477b2;
    border-color: white;
}

.bio-quote-speaker{
    color: white;
}

.bio-quotes-divider{
    border-color: white;
}

.bio-quotes-heading{
    color: white;
}

.bio-side-heading{
    color: #fdff00;
}

.bio-side-tab{
    background-color: #8abed2;
}

.bio-text{
    color: white;
}

.bio-title{
    color: black;
}

.bio-title-text{
    color: black;
}

.card{
    border-color: black;
}

.card-header{
    background-color: #779ecb;
    border-color: black;
    color: white;
}

.fa-bars{
    color: white;
}

.feedback{
    background-color: #4477b2;
    border-color: black;
}

.feedback-form-divider{
    border-color: white;
}

.feedback-form-heading{
    background-color: #284669;
    color: white;
}

.feedback-stats-number{
    color: #0000FF;
}

.feedback-stats-subheading{
    color: black;
}

.form-control{
    background-color: #aec5e0;
}

.form-radio-text{
    color: white;
}

.form-submit-button{
    background-color: #77DD77;
    color: white;
}

.form-text{
    color: white;
}

.footer{
    background-color: #779ecb;
}

.footer-heading{
    color: black;
}

.footer-link{
    color: white;   
}

.footer-text{
    color: black;
}

.hobbies{
    background-color: #4477b2;
}

.hobby-fact{
    color: black;
}

.hobby-heading{
    color: white;
}

.hobby-squash-heading{
    color: black;
}

.hobby-subheading{
    color: white;
}

.hobby-title-heading{
    color: black;
}

.hobby-title-subheading{
    color: black;
}

.nav-link{
    color: white;
}

.nav-link:hover{
    color: #4477b2;
}

.project-description-heading{
    color: white;
}

.project-header{
    background-color: #779ecb;
    color: white;
}

.project-heading{
    color: black;
}

.project-icon-minus{
    color: white;
}

.project-icon-plus{
    color: black;
}

.project-short-title{
    color: black;
}

.project-tab-link{
    color: white;
}

.project-tab-link-small{
    color: white;
}

.project-tabs-heading{
    color: black;
}

.project-link-active{
    color: black;
}

.project-tab-link:hover{
    color: black;
}

.project-tab-link-small:hover{
    color: black;
}

.projects{
    background-color: #aec5e0;
}

.welcome{
    background-color: #aec5e0;
}

.welcome-subtext{
    color: black;
}

.welcome-text{
    color: black;
}

#active-link:hover{
    color: white;
}

#bio-card-body{
    background-color: #4477b2;
}

#graduation-large{
    background-color: #aec5e0;
}

#hobby-painting{
    background-color: #6591c4;
}

#hobby-reading{
    background-color: #5284bd;
}

#hobby-squash{
    background-color: #89abd2;
}

#project-1{
    background-color: #9cb8d9;
}

#project-2{
    background-color: #89abd2;
}

#project-3{
    background-color: #6591c4;
}

#project-4{
    background-color: #5284bd;
}

#project-automation{
    background-color: #aec5e0;
}

#project-automation-copy{
    background-color: #aec5e0;
}

#project-automation-copy-large{
    background-color: #aec5e0;
}

#project-automation-copy-small{
    background-color: #aec5e0;
}

#project-automation-small{
    background-color: #aec5e0;
}

#project-cds{
    background-color: #9bb8d9;
}

#project-cds-copy{
    background-color: #9bb8d9;
}

#project-cds-copy-large{
    background-color: #9bb8d9;
}

#project-cds-copy-small{
    background-color: #9bb8d9;
}

#project-cds-small{
    background-color: #9bb8d9;
}

#project-dwc{
    background-color: #89abd2;
}

#project-dwc-copy{
    background-color: #89abd2;
}

#project-dwc-copy-large{
    background-color: #89abd2;
}

#project-dwc-copy-small{
    background-color: #89abd2;
}

#project-dwc-small{
    background-color: #89abd2;
}

#project-testing{
    background-color: #c0d2e7;
}

#project-testing-copy{
    background-color: #c0d2e7;
}

#project-testing-copy-large{
    background-color: #c0d2e7;
}

#project-testing-copy-small{
    background-color: #c0d2e7;
}

#project-testing-small{
    background-color: #c0d2e7;
}