button{
    background-color: aqua;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 2vh;
    font-weight: bold;
    min-height: 10vh;
    text-align: center;
    width: 40vw;
}

.start-button{
    left: 30vw;
    position: fixed;
    top: 45vh;
    width: 60%;
}

.result{
    background-color: black;
    border-radius: 10px;
    color: white;
    display: none;
    font-size: 2vh;
    left: 30vw;
    position: fixed;
    text-align: center;
    top: 10vh;
    width: 40%;
}

.grid{
    background-image: url('background.png');
    height: calc(100vh - 16px);
    left: calc(50vw - min(calc(50vw - 8px), calc(50vh)) - 8px);
    position: relative;
    width: min(calc(100vw - 16px), calc(100vh));
}

.platform{
    background-image: url('platform.png');
    background-size: cover;
    height: 15px;
    position: absolute;
    width: 85px;
}

.doodler{
    background-image: url('doodler.png');
    background-size: cover;
    height: 87px;
    position: absolute;
    width: 85px;
    z-index: 1;
}